
    body {
        font-family: 'Nunito', sans-serif;
        color: #4A4A4A ;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Lora', serif;
        line-height: 1.2;
        color: #222222 ;
    }

    h1,
    h2,
    h3 {
        font-weight: 600;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    h6 {
        font-size: 1rem;
    }

    P {
        line-height: 1.6;
    }

    .form input, form textarea {
        @apply p-2 rounded-lg border border-gray-200 w-full;
    }